*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   background: #f2f2f2;
}

.blender{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-image: url("../Imagenes/lioff.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender.active{
    background-image: url("../Imagenes/lion.gif");
}

.blender-button{
    margin: 350px auto 0px;
    width: 60px;
    height: 60px;
}
